<div class="container flex flex-col items-center gap-8 px-6 md:flex-row md:px-4 mb-sectionPadding">
  <!-- Heading -->
  <h2 class="text-5xl text-center md:text-7xl text-blue-900 md:me-40 whitespace-nowrap font-bold drop-shadow-lg">
    About Me
  </h2>

  <!-- Content -->
  <div class="flex-1 text-center md:text-left">
    <p class="pb-8 leading-relaxed text-gray-700 text-lg">
      My name is <strong>Hamed Khakid Hamed Ragab</strong>, I am a student at the Faculty of Computers and Information, Damanhour University, and a full-stack developer skilled in using design frameworks such as Bootstrap and Tailwind CSS to build professional, fully responsive websites. 

      I am eager to join a dynamic team where I can further develop my expertise in front-end development and software engineering, while addressing the unique needs of users. My aim is to work alongside passionate professionals who are committed to driving their company’s growth and success.
    </p>

    <!-- Resume Button -->
    <a href="updated CV.pdf" download="updated CV.pdf"
       class="flex items-center justify-center w-full px-12 py-5 text-xl font-semibold text-white transition-all rounded-xl shadow-md md:w-fit bg-blue-600 hover:bg-blue-500 hover:scale-105">
      Download Resume
    </a>
  </div>
</div>