<form [formGroup]="userForm" (ngSubmit)="signup()">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      formControlName="email"
      class="form-control"
      id="exampleInputEmail1"
      aria-describedby="emailHelp"
    />
  </div>
  @if ( email?.errors?.['required'] && (email?.dirty || email?.touched)) {
    <p class="text-danger">Email is Required</p>
  }
  @if ( email?.errors?.['email'] && (email?.dirty || email?.touched)) {
    <p class="text-danger">Enter a Valid Email</p>
  }

  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="exampleInputPassword1"
      formControlName="password"
    />
  </div>
  @if ( password?.errors?.['required'] && (password?.dirty || password?.touched)) {
    <p class="text-danger">Password is Required</p>
  }
  @if ( password?.errors?.['minlength'] && (password?.dirty || password?.touched)) {
    <p class="text-danger">Password must be at least 6 characters</p>
  }

  <button
    type="submit"
    class="btn btn-primary mb-5"
    [disabled]="userForm.invalid"
  >
    SignUp
  </button>
</form>
