
@for (item of cartItems; track $index) {
  <div class="p-4 border cartItem">
    <p>{{item.title}}</p>
    <p>{{item.price}}</p>
    <p>{{item.description}}</p>
    <p>{{item.availabilityStatus}}</p>
    <img [src]="item.thumbnail" alt="image of product">
    <p></p>
  </div>
}
@empty {<div class="flex flex-col items-center justify-center h-[70vh] text-center">
  <img src="Empty_Shopping_Cart_blog.webp" alt="Empty Cart" class="mb-4">
  <h2 class="text-xl font-semibold">Your cart is empty</h2>
  <p class="mb-4 text-gray-500">Looks like you haven’t added anything to your cart yet.</p>
  <a routerLink="/shop" class="px-6 py-2 text-white bg-blue-600 rounded-lg shadow-md hover:bg-blue-700">
    Start Shopping
  </a>
</div>}
