<div class="px-12 py-10 todo-form bg-gradient-to-br from-purple-700 via-indigo-600 to-blue-500 shadow-xl rounded-2xl">
  <h1 class="py-5 text-6xl font-extrabold text-white drop-shadow-xl">To-Do App</h1>
  <p class="py-3 text-xl font-medium text-gray-200">Add a new task</p>
  
  <input
    [(ngModel)]="taskName"
    placeholder="Enter new task"
    class="w-2/3 p-4 mb-5 rounded-xl bg-white/90 text-gray-800 shadow-md focus:outline-none focus:ring-4 focus:ring-indigo-400"
  />
  
  <button
    (click)="onSubmit()"
    class="block px-10 py-3 text-lg font-semibold text-white bg-indigo-500 rounded-xl hover:bg-indigo-700 transition-all duration-300 shadow-md hover:shadow-lg"
  >
    Add Task
  </button>
</div>
