<script src="https://cdn.tailwindcss.com"></script>
<main class="h-screen w-full flex flex-col justify-center items-center bg-gradient-to-r from-gray-900 to-gray-800">
	<h1 class="font-extrabold tracking-widest text-white text-9xl drop-shadow-lg">404</h1>
	<div class="bg-red-500 px-3 py-1 text-sm text-white font-bold rounded-lg rotate-6 shadow-md">
		Page Not Found
	</div>
	<button class="mt-5 relative inline-block text-sm font-medium text-white group focus:outline-none">
		<span
			class="absolute inset-0 transition-transform translate-x-0.5 translate-y-0.5 bg-red-500 rounded-lg group-hover:translate-y-0 group-hover:translate-x-0 shadow-lg">
		</span>
		<span class="relative block px-8 py-3 bg-gray-900 border border-white rounded-lg">
			<a href="/">Go Home</a>
		</span>
	</button>
</main>
